BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000

NEXT_PUBLIC_BASE_URL=http://localhost:3000

DB_FILE_NAME=./.dist/stash.sqlite

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

TURSO_DATABASE_URL=
TURSO_AUTH_TOKEN=
